  <link rel="stylesheet" href="style/style1.css">
   <div>
        <p>
      <strong>C</strong>ascading
      <strong>S</strong>tyle
      <strong>S</strong>heets
    </p>
    <p style="font: italic 100%/200% "Comic Sans MS", cursive">castomer</p>
   </div>
    <div id="main" class="my">hera we doing <br/>hfhuihjnlknl</div>

    A text where I need to <span class="ref">something</span>

    <a href="developer.mozilla.org" class="glossary">developer.mozilla.org</a>